<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="fullname">
	{$fullname_editcontrol}
	</control>
	<control 
	field="username">
	{$username_editcontrol}
	</control>
	<control 
	field="password">
	{$password_editcontrol}
	</control>
	<control 
	field="email">
	{$email_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
