<ul class="rnr-b-vmenu simple {$menustyle}" originalMenuTag="$$originalMenuTag">
<li class=" current menuLeaf">
	<div>
		<div>
			<a {$item1_menulink_attrs}>
									Permessi
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item2_menulink_attrs}>
									Assegna utenti ai gruppi
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item3_menulink_attrs}>
									Aggiungi/Modifica utenti
			</a>
		</div>
	</div>
</li>
</ul>
