<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf  current" originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item1_menulink_attrs}>
									Permessi
			</a>
	</div>
</div>
<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item2_menulink_attrs}>
									Assegna utenti ai gruppi
			</a>
	</div>
</div>
<div id="item3" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item3_menulink_attrs}>
									Aggiungi/Modifica utenti
			</a>
	</div>
</div>
