<tr id="item1" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink1">
					Permessi
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item2" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink2">
					Assegna utenti ai gruppi
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item3" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink3">
					Aggiungi/Modifica utenti
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
